*{
    box-sizing: border-box;
  }
  body{
    margin: 0;
    padding: 0%;
  }
  img{
    width: 100%;
    height: 450px;
  
  }
  .unico{
    width: 100%;
    height: 910px;
  }
  
  .row{
    margin-top: 1500px;
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
  }
  .row2{
    margin-top: 70px;
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
  }
  
  .column{
    flex: 25%;
    padding: 5px;
  }
  
  .column img{
    margin-top: 5px;
  }
  
  
  
  @media (max-width: 800px){
    .column{
      flex: 50%;
    }
  }
  
  @media (max-width: 500px){
    .column{
      flex: 100%;
    }
  }
