body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.header {
    position: relative;
    height: 200vh;
    overflow: hidden;
    text-align: center;
    color: white;
}

.background-video {
    background-position: fixed;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    object-fit: cover;
    z-index:-1;

}

.logo {
    width:25%;
    height: 450px;
    left: 2%;
    position: absolute;
    display: flex;
    align-items: left;
    margin-top: 0.4%;
   
}
.navbar {
    display: flex;
    right: 20px;
    justify-content: center;
    align-items: center; 
    padding: 10px 0;
    position: absolute;
    top: 0;
    z-index: 1000;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

.navbar a:hover {
    background-color: #424242; 
    background-color: rgba(0, 0, 0, 0.5);
    color: 
    #d58588;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    min-width: 198px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #f1f1f1;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #333;
}

.dropdown:hover .dropdown-content {
    display: block;
}

