@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');
body{
    background-color: #fdd4ce ;
}.contenedor{
    position: absolute;
    z-index:-1;
    top: 30%;
    width: 90%;
    left: 5%;
    height: 1900px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px,5fr)); 
    grid-template-rows: repeat(5,400px ); 
    row-gap: 10px; 
}
h1{
  
  font-size: 100px;
  font-family: "Kanit", serif;
  font-weight: 700;
  font-style: normal;
 
}

section{
  margin-top: 10px;
    position: absolute;
    display: flex;
    width: 100%;
    height: 430px;
  }
  
  section img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5 ease;
  
  }
  
  section img:hover{
    cursor: crosshair rgba(0,0,0,.4);
    width: 500px;
    opacity: 1;
    filter: contrast(120%);
  
  }
  